

p{
    font-size: 64px;
    color: purple;
}
body{
    color: blue;
    border: 3px solid black;
}

.header{
   font-style: italic;
}
#header1{
    font-size: 22px;
    color: red;
}